<a href="https://colab.research.google.com/github/pranjal272/HDSC22/blob/main/StageB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
import pandas as pd
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [122]:
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [123]:
#rename columns
column_names={'T1': 'Temperature in kitchen area','RH_1': 'Humidity in kitchen area', 'T2':'Temperature in living room area', 'RH_2': 'Humidity in living room area', 'T3': 'Temperature in laundry room area','RH_3':'Humidity in laundry room area', 'T4': 'Temperature in office room', 
'RH_4': 'Humidity in office room',
'T5':'Temperature in bathroom',
'RH_5': 'Humidity in bathroom',
'T6': 'Temperature outside the building (north side)',
'RH_6': 'Humidity outside the building (north side)',
'T7': 'Temperature in ironing room' ,
'RH_7': 'Humidity in ironing room', 
'T8': 'Temperature in teenager room 2', 
'RH_8':'Humidity in teenager room 2', 
'T9':'Temperature in parents room', 
'RH_9':'Humidity in parents room', 
'T_out':'Temperature outside (from Chievres weather station)',
'Press_mm_hg':'Pressure (from Chievres weather station)',
'RH_out': 'Humidity outside (from Chievres weather station)',
'rv1': 'Random variable 1',
'rv2': 'Random variable 2'}
df = df.rename(columns=column_names)
df.head()

                  date  Appliances  ...  Random variable 1  Random variable 2
0  2016-01-11 17:00:00          60  ...          13.275433          13.275433
1  2016-01-11 17:10:00          60  ...          18.606195          18.606195
2  2016-01-11 17:20:00          50  ...          28.642668          28.642668
3  2016-01-11 17:30:00          50  ...          45.410389          45.410389
4  2016-01-11 17:40:00          60  ...          10.084097          10.084097

[5 rows x 29 columns]

dropping date and lights columns:

In [124]:
df = df.drop(columns = ['date', 'lights'])

In [126]:
#Firstly, we normalise our dataset to a common scale using the min max scaler
#target: Appliances variable
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns = ['Appliances'])
target_df = normalised_df['Appliances']

A linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6).

In [127]:
#defining new predictor and response variable
x = normalised_df[['Temperature in living room area']]
y = normalised_df['Temperature outside the building (north side)']

#split data into train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

#model definition and fitting
simple_linear_reg_model = LinearRegression()
simple_linear_reg_model.fit(x_train, y_train)

#predictions
predicted_values = simple_linear_reg_model.predict(x_test)

In [128]:
#R^2 value in two d.p.
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [129]:
# linear model with all predictors
X_train, X_test, Y_train, Y_test = train_test_split(features_df, target_df, test_size = 0.3, random_state = 42)

#model definition and fitting
linear_model = LinearRegression()
linear_model.fit(X_train, Y_train)

#obtain predictions
yhat = linear_model.predict(X_test)

In [130]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y_test, yhat)
round(mae, 2)

0.05

In [132]:
#Residual Sum of Squares (RSS)
import numpy as np
rss = np.sum(np.square(Y_test - yhat))
round(rss, 2)

45.35

In [133]:
#Root Mean Square Error (RMSE)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y_test, yhat))
round(rmse, 3)

0.088

In [134]:
# coefficient of determination
from sklearn.metrics import r2_score
r2_score = r2_score(Y_test, yhat)
round(r2_score, 2)

0.15

Feature weights:

In [135]:
def get_weights_df(model, feat, col_name):
    
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(linear_model, X_train, 'Linear_Model_Weight')
linear_model_weights = linear_model_weights.sort_values(by = 'Linear_Model_Weight')
linear_model_weights

                                             Features  Linear_Model_Weight
0                        Humidity in living room area            -0.456698
1   Temperature outside (from Chievres weather sta...            -0.321860
2                     Temperature in living room area            -0.236178
3                         Temperature in parents room            -0.189941
4                         Humidity in teenager room 2            -0.157595
5    Humidity outside (from Chievres weather station)            -0.077671
6                            Humidity in ironing room            -0.044614
7                            Humidity in parents room            -0.039800
8                             Temperature in bathroom            -0.015657
9                         Temperature in kitchen area            -0.003281
10                                  Random variable 1             0.000770
11                                  Random variable 2             0.000770
12           Pressure (from Chievres weather station)             0.006839
13                        Temperature in ironing room             0.010319
14                                         Visibility             0.012307
15                               Humidity in bathroom             0.016006
16                            Humidity in office room             0.026386
17                         Temperature in office room             0.028981
18                                          Windspeed             0.029183
19         Humidity outside the building (north side)             0.038049
20                      Humidity in laundry room area             0.096048
21                     Temperature in teenager room 2             0.101995
22                                          Tdewpoint             0.117758
23      Temperature outside the building (north side)             0.236425
24                   Temperature in laundry room area             0.290627
25                           Humidity in kitchen area             0.553547

Lowest weight for:Humidity in living room area (RH_2), Highest weight for: Humidity in kitchen area	(RH_1)

In [136]:
#ridge regression with alpha = 0.4

ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(X_train, Y_train)

#predictions
ridge_yhat = ridge_reg.predict(X_test)

In [137]:
#rmse on test set upto 3 decimal places
round(np.sqrt(mean_squared_error(Y_test, ridge_yhat)), 3)

0.088

In [138]:
#lasso regression with alpha = 0.001 and its feature weights
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(X_train, Y_train)

#predictions
lasso_yhat = lasso_reg.predict(X_test)
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

number of features having non-zero weights

In [139]:
len(lasso_weights_df[lasso_weights_df['Lasso_weight'] != 0])

4

New RMSE with the lasso regression:

In [140]:
#rmse on test set upto 3 decimal places
round(np.sqrt(mean_squared_error(Y_test, lasso_yhat)), 3)

0.094